
 <div class="flex flex-col items-center justify-center h-screen">
 <h1 class="text-4xl text-bold">Oh, Snap! You need to Log In to continue :)</h1>
<div>
  <%= link_to('Login', new_user_session_path, :class => 'bg-blue hover:bg-blueHover text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline')  %> 
  <%= link_to('Sign Up', new_user_registration_path, :class => 'bg-yellow hover:bg-yellowHover text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline')  %>  
  </div>
</div>